body {
    overflow: hidden;
    background-color: rgb(34, 115, 161);
    color: white;
}
#header{
    display: inline-block;
}
#icon{
    position: absolute;
    overflow: visible;
    width: 8%;
    height: 8%;
    left: 1%;
    top: 7%;
    border: solid 3p black;
}
.createChatroom{
    position: absolute;
    display: inline-block;
    left: 30%;
    top: 1%;
    right: 40%;
    margin-top: 0;
}
#searchBoxWrapper{
    display: inline-block;
    position:absolute;
    left: 20%;
    width: 16%;
    height: 100px;
    left: 10%;
    margin-top: 0;
}
#searchBox{
    display: inline-block;
    margin-top: 0;
    top: 1%;
}

#listBox{
    position: absolute;
    width: 25%;
    bottom: 0;
    left: 1%;
    top: 20%;
}

#groupListBox{
    position:  absolute;
    overflow: auto;
    width: 99%;
    height: 49%;
    left: 0px;
    top: 0px;
}

#groupListBox h2{
    position: fixed;
    margin: 0px;
}
#groupListBox div{
    cursor: pointer;
}
#groupListBox div div{
    display: inline;
}
#PrivateListBox{
    position:  absolute;
    overflow:auto;
    width: 99%;
    height: 49%;
    left: 0px;
    top: 50%;
    border-top: solid 1px white;
}
#PrivateListBox h2{
    position: fixed;
    margin: 0px;
    display: block;
}
#PrivateListBox div{
    cursor: pointer;
}
#leftside{
    background-color: lightgray;
}
#chat{
    position: absolute;
    left: 27%;
    top: 4%;
    right: 0px;
    bottom: 30px;
    text-align: justify;
    border: solid 1px white;
    overflow-y: auto;
    list-style-type: none;
}
#bar{
    left: 27%;
    bottom: 0px;
    position: absolute;
    width: calc(100%);
}
#bar button{
    width: 7%;
}
#wrappa{
    width: calc(65%);
    display: inline;
}
#message{
    width: inherit;
}
.profile-chat{
    display: inline-block;
    height: 50px;
    width: 50px;
    border: 1px solid black;
    vertical-align: top;
}
.chat-whole{
    margin: 0px;
    right: 0px;
    left: 445px;
    width:calc( 100% - 100px );
    display: inline-block;
    vertical-align: top;
    overflow-wrap: break-word;
}
.chat-message{
    display: block;
    margin-top: 0;
	margin-bottom: 0px;
    right: 0px;
    left: 445px;
    overflow-wrap: break-word;
}
.chat-datename{
    right: 0px;
    left: 445px;
    margin-top: 0;
	margin-bottom: 0px;
	display: block;
    overflow-wrap: break-word;
}
.grey{
    background-color: grey;
}
.normal{
    background-color: rgb(34, 115, 161);
}