/*会員登録画面、会員情報変更画面のスタイルシート*/
body{
    text-align:unset;
    background-color: rgb(34, 115, 161);
    color: white;
}

/*各警告表示欄*/
#nameAlert,
#user_idAlert,
#passwordAlert,
#passwordCheckAlert,
#beforePasswordAlert,
#afterPasswordAlert,
#afterPasswordCheckAlert
{
    color:red;
    font-weight: bold;
}

/*「登録」「変更」ボタン*/
#submitButton{
    width:100px;
    height:50px;
}

/*Upされたプロフィール画像を描画するCanvas*/
#canvas{
    width:150px;
    height:150px;
    border: 2px solid;
}

/*会員情報変更画面のみ 登録済みのプロフィール画像表示*/
#profileimage{
    width:150px;
    height:150px;
    border: 2px solid;
}


/* #profileimageArea{
    width:150px;
    height:150px;
    margin:auto;
} */

/*パスワード要件表示欄*/
#passRules{
    text-align:left;
    font-size: 11px;
    width:300px;
    margin-top: 0;
}
