/*管理者専用会員一覧画面のスタイルシート*/
body{
    text-align:center;
}

/*会員一覧テーブル枠線*/
.memberslist{
    margin-left: auto;
    margin-right: auto;
    border: 1px #000000 solid;
    border-spacing: 0px;
}

/*会員一覧テーブル内のセル*/
th,td{
    width: 300px;
    height:30px;
    text-align:left;
}

/*テーブルタイトル「会員一覧」*/
#tableTitle{
    font-weight: bold;
}

/*ページボタンの大きさ、間隔*/
.pageButton{
    width:50px;
    height:50px;
    margin:5px;
}

/*表示中のページのページボタン*/
#selectedPageButton{
    background-color:#808080;
    color: #ffffff;
}